Subject:
%input{:value => 'Ready for peer review - ' + @us_detail['title'], :size => 70}
%p
%div{:contenteditable => true, :style => 'border:1px solid brown; padding: 10px'}
  Would someone please review this?
  %br
  %a{:href => @us_detail['url']}
    =@us_detail['title']
  %br
  %br
  Diff:
  - @us_detail['merge_requests'].each do |req|
    %a{:href => req}
      = req
    %br
  %br
  Peer Review:
  %a{:href => @us_detail['pr_url']}
    =@us_detail['pr_url']
