%form{:action => 'prr/format', :target => 'email_body'}
  User Story:
  %input{:name => 'userstory', :value => @userstory}
  %input{:type => 'submit'}
%iframe{:name => 'email_body', :width => 1200, :height => 450}
