%form{:action => 'push/format', :target => 'push_body'}
  User Story:
  %input{:name => 'userstories', :value => @userstory, :id => 'userstories'}
  %input{:type => 'submit'}
%iframe{:name => 'push_body', :id => 'push_body', :width => 1400, :height => 800}

%br
%br
%a{:href => 'https://ci.multiservice.com/jenkins/job/Fuel_Card_Core_Beta_App_Deploy/'}Fuel Card App Beta
|
%a{:href => 'https://ci.multiservice.com/jenkins/job/Fuel_Card_Core_Beta_Wcs_Deploy/label=opwcs11-fuelcard/'}Fuel Card WCS11
|
%a{:href => 'https://ci.multiservice.com/jenkins/job/Fuel_Card_Core_Beta_Wcs_Deploy/label=opwcs12-fuelcard/'}Fuel Card WCS12
%br
%a{:href => 'https://ci.multiservice.com/jenkins/job/OpenRoad_Core_Beta_App_Deploy/'}Open Road App Beta
|
%a{:href => 'https://ci.multiservice.com/jenkins/job/OpenRoad_Core_Beta_Wcs_Deploy/label=opwcs11-openroad/'}Open Road WCS11
|
%a{:href => 'https://ci.multiservice.com/jenkins/job/OpenRoad_Core_Beta_Wcs_Deploy/label=opwcs12-openroad/'}Open Road WCS12

